body {
    background-color: rgb(187, 243, 105);
}

form {
    background-color: green;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
}

center {
    font-size: 40px;
    font-weight: 600;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: 110px;
    margin-right: 25px;
}

input[type="text"],
input[type="password"],
textarea
 {
    flex: 1;
    margin: 5px 30px;
    align-items: center;
   
   
}
select{
    margin: 5px 60px;
}
button{
   
    margin: 10px 60px;
}